
<div class="lateral">
    <!-- <div class="group  itemFav shadow">
        <img [src]="'/users/1.jpg'" alt="">
        <div class="div1">
            <p>{{profile?.nombre}} {{profile?.surname}}</p>
            <p>{{user?.email}}</p>
            <p>{{user.role}}</p>
        </div>
    </div> -->

    <div class="banner-c">
        <img src="https://picsum.photos/seed/car/500/500" alt="">
    </div>
    <!--banner publicidad-->
    <div class="banner-rectangular">
        <img src="https://picsum.photos/seed/1920/120" alt="">
    </div>
    <!--banner publicidad-->
</div>