.tarifas{
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Optional: just make scrollbar invisible */
    }
}

.tarifa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted #ccc;
    background-color: #d1d1d057;
    padding: 5px 10px;
    border-radius: 8px;
    border-width: 80%;
    margin-bottom: 5px;
    & .info_tarifa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        & h1 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
         & p {
            font-size: 1rem;
            margin: 0;
        }
    }
    & .btn{
        display: flex;
        align-self: center;
    }
}
.tarifa:last-child{
        border-bottom: none;
    
}
