<!-- =======| Main |======= -->
<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading && parent_has_debt === false">
    <p class="text-center">
        No posees pagos pendientes.
    </p>
</div>
<div *ngIf="!isLoading && parent_has_debt === true" class="container animated fadeInUp" id="main" class="main" role="main" name="profile">

    <section class="section dashboard" >
        <div class="row">
            <!-- buscador -->
                <form class="form-horizontal">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class=" d-flex justify-content-end">
                            <!-- <input type="search" name="search" type="text" class="form-control col-xs-12"
                                placeholder="Buscar.." [(ngModel)]="query" aria-describedby="button-addon1"
                                class="form-control border-0 bg-light"> -->
                            <div class="  ">
                                <!-- <button id="button-addon1" type="submit" class="btn btn-link text-primary circle"
                                    (click)="search()" name="submit" data-toggle="tooltip" title="mostrar todos"><i
                                        class="fa fa-search"></i></button> -->
                                <a href="javascript:;" (click)="PageSize()"
                                    class="btn btn-primary doctor-refresh ms-2 circle "><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- buscador -->
        </div>
        <!-- <div class="card recent-sales overflow-auto">
            <div class="card-body">
                <h5 class="card-title"> <i class="bi bi-currency-exchange"> </i> Pendientes
                </h5>

                <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Estudiante</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Deuda</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pago of student_with_debt; let i = index  ">
                            <th scope="row">
                                <a [routerLink]="['/student/edit/', pago.student_id]">
                                    {{pago.student_id}}
                                </a>
                            </th>
                            <th scope="row">
                                <a [routerLink]="['/student/edit/', pago.student_id]">
                                    {{pago.student_name}}
                                </a>
                            </th>
                            <td>{{pago.matricula}}</td>
                            <td>{{pago.debt_amount|currency}}</td>

                            <td class="text-nowrap text-center">
                                <button type="button" class="btn btn-primary"
                                    [routerLink]="['/pagar/',pago.student_id]">
                                    Pagar
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

        </div> -->


         <ng-container *ngFor="let pago of student_with_debt">

                  <div class="tarifa">

                    <div class="info_tarifa">
                      <p><a [routerLink]="['/student/edit/', pago.student_id]">
                                    {{pago.student_name}}
                                </a></p>
                    <h6 style="margin:0;padding:0; color:#333">M:{{pago.matricula|currency}}</h6>
                    <h6 style="margin:0;padding:0; color:#333">D:{{pago.debt_amount|currency}}</h6>
                    </div>
                    <button type="button" class="btn btn-primary"
                                    [routerLink]="['/pagar/',pago.student_id]">
                                    Pagar
                                </button>
                  </div>
                </ng-container>
    </section>
</div>
<!-- End #main-->