<app-header></app-header>
<section class="wallet">
    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-9 col-md-9">
    
                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
                    <!-- <form class="d-flex shadowSearch">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success btn-seach" type="submit"><i class="fa fa-search"></i></button>
                    </form> -->

                    <div class="shadow">
                        <h2>Shopping Bill</h2>

                        <table>
                            <tbody>
                                <tr>
                                    <td>Service Name</td>
                                    <td align="right">$49.00</td>
                                </tr>
                                <tr>
                                    <td>Tasa App 1%</td>
                                    <td align="right">$4.00</td>
                                </tr>
                                <tr>
                                    <td>Price Total</td>
                                    <td align="right">$53.00</td>
                                </tr>
                            </tbody>

                            <tfoot style="border-top: 1px solid #ccc; height: 50px;">
                                <tr>
                                    <td>Total</td>
                                    <td align="right">$53.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <br>
                    <fieldset>
                        <legend>Payment Method</legend>



                        <div class="form__radios ">

                            <div class=" form__radio shadow ">
                                <label for="paypal">
                                    <i class="fa fa-paypal"></i>
                                    PayPal 
                                </label>
                                <input data-bs-toggle="modal" data-bs-target="#payment" class="form-check-input" type="radio" name="paypal" id="paypal">
                            </div>
                            <div class=" form__radio shadow ">
                                <label for="stripe">
                                    <i class="fa fa-cc-stripe"></i>
                                    Stripe
                                </label>
                                <input data-bs-toggle="modal" data-bs-target="#payment" class="form-check-input" type="radio" name="stripe" id="stripe">
                            </div>
                            <div class=" form__radio shadow ">
                                <label for="pagoMovil">
                                    <i class="fa fa-calculator"></i>
                                    Pago Móvil
                                </label>
                                <input data-bs-toggle="modal" data-bs-target="#payment" class="form-check-input" type="radio" name="pagoMovil" id="pagoMovil">
                            </div>
                            <div class=" form__radio shadow ">
                                <label for="transfB">
                                    <i class="fa fa-bank"></i>
                                    Transferencia bancaria
                                </label>
                                <input data-bs-toggle="modal" data-bs-target="#payment" class="form-check-input" type="radio" name="transfB" id="transfB">
                            </div>



                            <a class="btn btn-success" href="wallet-payment.html">
                                pagar
                            </a>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </fieldset>


                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">

                    <div class="lateral">
                        <div class="group  itemFav shadow">
                            <img src="assets/users/1.jpg" alt="">
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Johndoe&#64;gmail.com</p>
                                <p>User</p>

                            </div>
                        </div>

                        <div class="banner-c">
                            <img src="https://picsum.photos/seed/car/500/500" alt="">
                        </div>
                        <!--banner publicidad-->
                        <div class="banner-rectangular">
                            <img src="https://picsum.photos/seed/1920/120" alt="">
                        </div>
                        <!--banner publicidad-->
                    </div>
                </div>
    
            </div>
    
            </div>
        </div>
</section>
<app-menu-footer></app-menu-footer>
