<div class="carousel-inner-data">
    <div class="post navTabs">
        <div class=" itemFav">
            <div class="group  itemFav lastposthome">
                <a href="lawyer-profile.html">
                    <img src="assets/users/3.jpg" alt="">
                </a>
                <div class="div1">
                    <p>John Doe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" itemFav">
            <div class="group  itemFav lastposthome">
                <a href="lawyer-profile.html">
                    <img src="assets/users/3.jpg" alt="">
                </a>
                <div class="div1">
                    <p>John Doe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" itemFav">
            <div class="group  itemFav lastposthome">
                <a href="lawyer-profile.html">
                    <img src="assets/users/3.jpg" alt="">
                </a>
                <div class="div1">
                    <p>John Doe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" itemFav">
            <div class="group  itemFav lastposthome">
                <a href="lawyer-profile.html">
                    <img src="assets/users/3.jpg" alt="">
                </a>
                <div class="div1">
                    <p>John Doe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

<div class="botonera">
    <div class="button btn-simple-gray">Anterior</div>
    <div class="button btn-full-red">Siguiente</div>
</div>