<app-loading *ngIf="isLoading"></app-loading>
<div class="d-flex" *ngIf="!isLoading" style="height: auto">
    <div class="alert alert-info " *ngIf="!profile  ">
        <button class="btn close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-close"></i></button>
        <strong>{{'aviso.verifica'|translate}}</strong>
        <p>{{'aviso.porfavor'|translate}} <a [routerLink]="['/profile/edit', user.id]">aqui</a>.</p>
    </div>
    <div class="alert alert-primary" *ngIf="profile " >
        <p style="margin: 0; padding: 0;">{{'aviso.Welcome'|translate}} </p>
        <p style="margin: 0; padding: 0;"><strong>{{profile.name}}!</strong></p>
        <span class="badge bg-success" *ngIf="profile.status === 'ACTIVE'">Activo</span>
                            <span class="badge bg-danger" *ngIf="profile.status === 'INACTIVE'">Inactivo</span>
    </div>
</div>