<app-loading *ngIf="isLoading"></app-loading>
<div class="row" *ngIf="!isLoading">
    <div class="alert alert-info shadow" *ngIf="!profile  ">
        <button class="btn close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-close"></i></button>
        <strong>{{'aviso.verifica'|translate}}</strong>
        <p>{{'aviso.porfavor'|translate}} <a [routerLink]="['/profile/edit', user.id]">aqui</a>.</p>
    </div>
    <div class="alert alert-success shadow" *ngIf="profile ">
        {{'aviso.Welcome'|translate}} <strong>{{profile.name}} {{profile.surname}}</strong>
    </div>
</div>