<div class="menu-footer" *ngIf="user.roles[0] === 'SUPERADMIN'">
    <ul>

        <li >
            <a routerLink="/" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a routerLink="/admin/banners" routerLinkActive="active">
                <i class="fa fa-desktop"></i>
            </a>
        </li>
        <li>
            <a routerLink="/search" routerLinkActive="active">
                <i class="fa fa-search"></i>
            </a>
            </li>
        <li>
            <a routerLink="/wallet" routerLinkActive="active">
                <i class="fa fa-adjust"></i>
            </a>
            </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
            </li>
    </ul>
</div>
<div class="menu-footer" *ngIf="user.roles[0] !== 'SUPERADMIN'">
    <ul>

        <li >
            <a routerLink="/" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a routerLink="/favorites" routerLinkActive="active">
                <i class="fa fa-heart"></i>
            </a>
        </li>
        <li>
            <a routerLink="/search" routerLinkActive="active">
                <i class="fa fa-search"></i>
            </a>
            </li>
        <li>
            <a routerLink="/wallet" routerLinkActive="active">
                <i class="fa fa-book"></i>
            </a>
            </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
            </li>
    </ul>
</div>