
<div class="menu-footer" >
    <ul>

        <li >
            <a routerLink="/" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a routerLink="/payments" routerLinkActive="active">
                <i class="fa fa-money"></i>
            </a>
        </li>
        <!-- <li>
            <a routerLink="/search" routerLinkActive="active">
                <i class="fa fa-search"></i>
            </a>
        </li> -->
        <li>
            <a routerLink="/students" routerLinkActive="active">
                <i class="fa fa-users"></i>
            </a>
            </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
            </li>
    </ul>
</div>