<app-header></app-header>
<section class="user">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
          <div class="row">
            <app-loading *ngIf="isLoading" [loadingTitle]="loadingTitle"></app-loading>

            <div class="col-xs-12 col-sm-6" *ngIf="!isLoading">
              <!-- cuadro perfil -->
              <div class=" itemFav shadow">
                <div *ngIf="!profile">
                  <h2>No hay datos</h2>
                </div>
                <div class="foto_info" *ngIf="profile">
                  <div class="fi_foto">
                    <img *ngIf="!profile.avatar" [src]="profile.avatar  | imagenPipe: 'users' " alt="">
                  </div>
                  <div class="info_info">
                    <h3>{{ profile.nombre }} {{ profile.surname }}</h3>
                    <h5 *ngIf="speciality">{{ speciality.title }}</h5>
                    <!-- <h4>{{ user.email }}</h4> -->
                    <span class="badge  bg-primary" *ngIf="profile.status === 1"> {{'Pending'|translate}} </span>
                    <span class="badge bg-success" *ngIf="profile.status === 2">{{'Verified'|translate}} </span> 
                    <span class="badge bg-danger" *ngIf="profile.status === 3">{{'For Review'|translate}} </span>
                    <div class="stars">

                      <ul class="star-rating" *ngIf="rating === 5">
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                      </ul>
                      <ul class="star-rating" *ngIf="rating >= 4 && rating < 5">
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                      </ul>
                      <ul class="star-rating" *ngIf="rating >= 3 && rating < 4">
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                      </ul>
                      <ul class="star-rating" *ngIf="rating >= 2 && rating < 3">
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                      </ul>
                      <ul class="star-rating" *ngIf="rating >= 1 && rating < 2">
                        <li class="active"><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                      </ul>
                      <ul class="star-rating" *ngIf="rating >= 0 && rating < 1">
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                        <li><i class="fa fa-star "></i></li>
                      </ul>
                    </div>
                  </div>
                 
                  <div class="options">
                    <div *ngIf=""></div>
                    <button type="button" (click)="addFavorite()" class="btn btn-outline-danger">
                      <i class="fa fa-heart text-danger"></i>
                    </button>
                    <!-- <button type="button" [routerLink]="['/chat/', profile.client_id]" class="btn btn-primary">
                      Chat
                    </button> -->
                  </div>
                </div>
                <div class="descp">
                  <p>{{ profile.description }}</p>
                </div>
                <!-- <div class="div1" >
                  
                  <div class="reds">
                    <div class="cont" *ngFor="let red of redessociales">
                      <a *ngIf="red.icono === 'fa fa-whatsapp'"
                        href="`https://wa.me/`{{red.url}}`?text=Estoy%20interesado%20en%20el%20producto%20en%20la%20flechaapp,%20favor%20ampliar%20informacion`"
                        target="_blank" rel="noopener noreferrer">
                        <div class="option-admin">
                          <i [class]="red.icono"></i>
                        </div>
                      </a>
                      <a *ngIf="red.icono !== 'fa fa-whatsapp'" [href]="red.url" target="_blank"
                        rel="noopener noreferrer">
                        <div class="option-admin">
                          <i [class]="red.icono"></i>
                        </div>
                      </a>
                    </div>

                  </div>
                </div> -->
              </div>

            </div>
            <div class="col-xs-12 col-sm-6" *ngIf="!isLoading">

              <div class="card mb-3 shadow p-2">
                <h5 class="text-center">Metodos de Pago</h5>
                <ng-container *ngFor="let tipop of tiposdePagoUser">

                  <div class="tarifa">
                    <p>{{ tipop.tipo }}</p>
                    <p>{{ tipop.bankName }}</p>
                  </div>
                </ng-container>

              </div>
              <div class="card mb-3 shadow p-2">
                <h5 class="text-center">Productos y/o Servicios</h5>
                <ng-container *ngFor="let precio of precios">

                  <div class="tarifa">

                    <div class="info_tarifa">
                      <p>{{ precio.item_tarifa }}</p>
                    <h5>{{ precio.precio | currency }}</h5>
                    </div>
                    <button class="btn btn-outline-success" (click)="solicitarItem(precio)">
                      Solicitar
                    </button>
                  </div>
                </ng-container>

              </div>
              <div class="card  shadow p-2">
                <h5 class="text-center">Comentarios</h5>
                <div class="card-body">
                  <div class="coment_user">
                    <div class="cu_image">
                      <img src="https://picsum.photos/seed/1920/120" alt="" />
                    </div>
                    <div class="cu_info">
                      <h4>Nombre usuario</h4>
                    <h5>fecha</h5>
                    </div>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.</p>
                  <div class="stars">
                    <ul class="star-rating">
                      <li class="active"><i class="fa fa-star "></i></li>
                      <li class="active"><i class="fa fa-star "></i></li>
                      <li class="active"><i class="fa fa-star "></i></li>
                      <li class="active"><i class="fa fa-star "></i></li>
                      <li><i class="fa fa-star "></i></li>
                    </ul>
                </div>
              </div>
  
              </div>

            </div>


             <!--banner publicidad-->
          <div class="banner-rectangular mt-3 col-xs-12 col-sm-6">
            <img src="https://picsum.photos/seed/1920/120" alt="" />
          </div>
          <!--banner publicidad-->
          </div>
         
        </div>

        <!-- lateral -->
        <div class="col-xs-12 col-sm-3 col-md-3">
          <app-lateral></app-lateral>

        </div>
      </div>
    </div>

  </div>
</section>
<app-menu-footer></app-menu-footer>