.tab-content-set{
    & .nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        gap: 5px;

        & li{
            padding: 5px;
            & a{
                color: var(--azulclaro);
            }
        }
        

        
    }
   
}



