<app-header></app-header>
<section class="user-document " [class.refreshing]="isRefreshing" (scrolledUp)="onScrollUp()">
    <div class="pull-down-indicator" *ngIf="isRefreshing">
        <app-loading></app-loading>
        <p class="text-center">
            {{'Refreshing'|translate}} ...
        </p>


    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">

                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
                    <app-loading *ngIf="isLoading"></app-loading>
                    <!-- filtro buscador -->
                    <details class="shadowSearch cuadrosearch">
                        <summary class="">{{'Search'|translate}}</summary>
                        <form [formGroup]="searchForm">
                            <div class="row ">
                                <div class="col-12 col-md-3">
                                    <label class="labelgoogle">
                                        <input class="form-control input" formControlName="name_file" type="search"
                                            placeholder=" " aria-label="Search">
                                        <span class="label__name">
                                            {{'Search'|translate}}
                                            <i class="fa fa-search" style="margin-left: 10px;"></i>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label class="labelgoogle">
                                        <input class="form-control datetimepicker input" formControlName="created_at"
                                            type="date" />
                                        <span class="label__name">
                                            {{'From'|translate}}

                                        </span>
                                    </label>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="input-group">
                                        <!-- <label>{{'Category'|translate}}  </label> -->
                                        <span class="input-group-text " id="basic-addon1">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                        </span>
                                        <select class="form-control" formControlName="name_category">
                                            <option *ngFor="let data of user_files" [value]="data.name_category">
                                                {{data.name_category}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2 col-md-1 mt-3">
                                    <div class="doctor-submit">
                                        <button type="button" class="btn btn-primary submit-list-form "
                                            (click)="searchData()">
                                            <!-- {{'Search'|translate}} -->
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-10 col-md-1 mt-3">
                                    <div class="doctor-submit d-flex ">
                                        <button type="button" class="btn btn-outline-primary submit-list-form "
                                            (click)="resetSearch()">
                                            <i class="fa fa-refresh"></i>
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </form>
                    </details>
                    <button type="button" class="btn btn-outline-primary submit-list-form " data-bs-toggle="modal"
                        data-bs-target="#add_publicidad">
                        <i class="fa fa-plus"></i>
                    </button>

                    <div class="tab-content-set">
                        <ul class="nav">
                            <li>
                                <a href="#" onclick="return false;" [ngClass]="{'active': option_selected == 1}" (click)="optionSelected(1)">Mis Documentos</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false;" [ngClass]="{'active': option_selected == 2}" (click)="optionSelected(2)">Compartidos</a>
                            </li>
                        </ul>
                    </div>

                    <div class="container" *ngIf="!isLoading">
                        <!-- modal add-->
                        <div id="add_publicidad" class="modal fade add-modal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center ">
                                        <!-- <img src="assets/img/sent.png" alt="" width="50" height="46"> -->
                                        <h3> {{'formulario.Add Files'|translate}}</h3>
                                        <p>{{'formulario.Allowed Files'|translate}}: jpg, jpeg, gif, pdf|
                                            {{'formulario.Max Weight'|translate}}: 1024kb</p>
                                        <br>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <label class="labelgoogle">
                                                    <input class="form-control input" name="name_category"
                                                        [ngModelOptions]="{standalone: true}" placeholder=" "
                                                        [(ngModel)]="name_category" type="text" required>
                                                    <span class="label__name">
                                                        {{'Category'|translate}}<span class="login-danger">*</span>

                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <label for="file" class="upload labelgoogle">
                                                    <input type="file" class="input" id="customFile" multiple="true"
                                                        (change)="processFile($event)">
                                                    <span class="label__name">
                                                        {{'formulario.Select File'|translate}}(s)
                                                    </span>
                                                </label>
                                            </div>
                                          
                                        </div>

                                        <div class="form-group row" *ngIf="text_success">
                                            <div class="col-12">
                                                <div class="alert alert-success alert-dismissible fade show"
                                                    role="alert">
                                                    <strong>{{'formulario.Success'|translate}}!</strong>{{text_success}}.
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-t-20"> <a href="javascript:void(0);" (click)="closeReload()"
                                                class="btn btn-outline-danger me-1"
                                                data-bs-dismiss="modal">{{'formulario.Close'|translate}}</a>
                                            <button type="submit" class="btn btn-success"
                                                (click)="save()">{{'formulario.Add'|translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal -->




                        <div class="row">
                            <div class="container">
                                <div class=" col-xs-12" *ngIf="!isSearching">

                                    

                                    <div class=" carpetas " *ngIf="option_selected === 1">
                                        <div class="div-group " *ngFor="let cat of user_files">
                                            <a data-bs-toggle="modal"
                                                [attr.data-bs-target]="'#view-doc-'+cat.name_category"
                                                (click)="getDocumentsbyCategory(cat.name_category)"
                                                style="cursor: pointer;">

                                                <div class="folder-info">
                                                    <div class="menu-opt">
                                                        <i class="fa fa-list"></i>
                                                    </div>
                                                    <i class="fa fa-folder"></i>
                                                    <h2>{{'Category'|translate}}: {{cat.name_category}}</h2>
                                                    <p> {{cat.created_at}}</p>
                                                </div>
                                            </a>


                                            <div [attr.id]="'view-doc-'+cat.name_category" class="modal fade add-modal"
                                                role="dialog">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"><i
                                                                    class="fa fa-folder-open"></i>
                                                                {{'Category'|translate}}: {{cat.name_category}}</h5>
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-outline-danger me-1"
                                                                data-bs-dismiss="modal">{{'formulario.Close'|translate}}</a>
                                                        </div>

                                                        <div class="modal-body text-center columnadoble">
                                                            <ng-container
                                                                *ngFor="let FILE of user_filesfiltered;let i = index">

                                                                <div class="itemlist">
                                                                    <div class="d-flex flex-stack mb-3">
                                                                        <div class="me-3">
                                                                            <a
                                                                                [routerLink]="['/profile/documents/file', FILE.id]">
                                                                                <img *ngIf="FILE.type ==='pdf'|| FILE.type ==='doc' || 
                                                                                FILE.type ==='docx'"
                                                                                    src="assets/svg/doc.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                                <img *ngIf="FILE.type ==='jpg' || FILE.type ==='jpeg'"
                                                                                    src="assets/svg/jpg.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                                <img *ngIf="FILE.type ==='png'"
                                                                                    src="assets/svg/png.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="info_itemlist"
                                                                        *ngIf="!document_selected">
                                                                        <a [routerLink]="['/profile/documents/file', FILE.id]"
                                                                            class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_file
                                                                            | slice:0:10}}... .{{FILE.type}}</a>

                                                                        <span
                                                                            class="text-gray-400 fw-bolder">{{'Category'|translate}}:
                                                                            <a href="javascript:void(0);"
                                                                                onclick="return false;"
                                                                                class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_category}}</a></span>
                                                                        <span
                                                                            class="text-gray-400 fw-bolder">{{'formulario.Size'|translate}}:
                                                                            <a href="javascript:void(0);"
                                                                                onclick="return false;"
                                                                                class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}}
                                                                            </a></span>

                                                                    </div>
                                                                    <div class="buttons" *ngIf="!document_selected">
                                                                        <button class="btn btn-danger btn-sm"
                                                                            (click)="deleteFile(FILE.id)">x</button>
                                                                        <button class="btn btn-success btn-sm"
                                                                            (click)="solicitudSelected(FILE.id)">Share</button>

                                                                    </div>
                                                                    <div class="share__options"
                                                                        *ngIf="document_selected">
                                                                        <select class="form-control"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [(ngModel)]="share">
                                                                            <option *ngFor="let data of clientes"
                                                                                [value]="data.id">
                                                                                {{data.username}}
                                                                            </option>
                                                                        </select>
                                                                        <button class="btn btn-primary btn-sm"
                                                                            (click)="onShareIt()">
                                                                            >
                                                                            Share
                                                                        </button>
                                                                        <button class="btn btn-primary btn-sm"
                                                                            (click)="document_selected = null">
                                                                            {{'Back'|translate}}
                                                                        </button>
                                                                    </div>
                                                                    <!-- <div *ngIf="document_selected">
                                                                        <button
                                                                          class="btn btn-primary btn-sm"
                                                                          (click)="document_selected = null"
                                                                        >
                                                                        {{'Back'|translate}}
                                                                        </button>
                                                                      </div> -->
                                                                </div>
                                                            </ng-container>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class=" carpetas "  *ngIf="option_selected === 2">
                                        <div class="div-group " *ngFor="let cat of document_shared">
                                            <a data-bs-toggle="modal"
                                                [attr.data-bs-target]="'#view-doc-'+cat.name_category"
                                                (click)="getDocumentsbyCategory(cat.name_category)"
                                                style="cursor: pointer;">

                                                <div class="folder-info">
                                                    <div class="menu-opt">
                                                        <i class="fa fa-list"></i>
                                                    </div>
                                                    <i class="fa fa-folder"></i>
                                                    <h2>{{'Category'|translate}}: {{cat.name_category}}</h2>
                                                    <p> {{cat.created_at}}</p>
                                                </div>
                                            </a>


                                            <div [attr.id]="'view-doc-'+cat.name_category" class="modal fade add-modal"
                                                role="dialog">
                                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"><i
                                                                    class="fa fa-folder-open"></i>
                                                                {{'Category'|translate}}: {{cat.name_category}}</h5>
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-outline-danger me-1"
                                                                data-bs-dismiss="modal">{{'formulario.Close'|translate}}</a>
                                                        </div>

                                                        <div class="modal-body text-center columnadoble">
                                                            <ng-container
                                                                *ngFor="let FILE of user_filesfiltered;let i = index">

                                                                <div class="itemlist">
                                                                    <div class="d-flex flex-stack mb-3">
                                                                        <div class="me-3">
                                                                            <a
                                                                                [routerLink]="['/profile/documents/file', FILE.id]">
                                                                                <img *ngIf="FILE.type ==='pdf'|| FILE.type ==='doc' || 
                                                                                FILE.type ==='docx'"
                                                                                    src="assets/svg/doc.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                                <img *ngIf="FILE.type ==='jpg' || FILE.type ==='jpeg'"
                                                                                    src="assets/svg/jpg.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                                <img *ngIf="FILE.type ==='png'"
                                                                                    src="assets/svg/png.svg"
                                                                                    class="w-50px ms-n1 me-1 filesvg"
                                                                                    alt="">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="info_itemlist"
                                                                        *ngIf="!document_selected">
                                                                        <a [routerLink]="['/profile/documents/file', FILE.id]"
                                                                            class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_file
                                                                            | slice:0:10}}... .{{FILE.type}}</a>

                                                                        <span
                                                                            class="text-gray-400 fw-bolder">{{'Category'|translate}}:
                                                                            <a href="javascript:void(0);"
                                                                                onclick="return false;"
                                                                                class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_category}}</a></span>
                                                                        <span
                                                                            class="text-gray-400 fw-bolder">{{'formulario.Size'|translate}}:
                                                                            <a href="javascript:void(0);"
                                                                                onclick="return false;"
                                                                                class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}}
                                                                            </a></span>

                                                                    </div>
                                                                    <div class="buttons" *ngIf="!document_selected">
                                                                        <button class="btn btn-danger btn-sm"
                                                                            (click)="deleteFile(FILE.id)">x</button>
                                                                        <button class="btn btn-success btn-sm"
                                                                            (click)="solicitudSelected(FILE.id)">Share</button>

                                                                    </div>
                                                                    <div class="share__options"
                                                                        *ngIf="document_selected">
                                                                        <select class="form-control"
                                                                            [ngModelOptions]="{standalone: true}"
                                                                            [(ngModel)]="share">
                                                                            <option *ngFor="let data of clientes"
                                                                                [value]="data.id">
                                                                                {{data.username}}
                                                                            </option>
                                                                        </select>
                                                                        <button class="btn btn-primary btn-sm"
                                                                            (click)="onShareIt()">
                                                                            >
                                                                            Share
                                                                        </button>
                                                                        <button class="btn btn-primary btn-sm"
                                                                            (click)="document_selected = null">
                                                                            {{'Back'|translate}}
                                                                        </button>
                                                                    </div>
                                                                    <!-- <div *ngIf="document_selected">
                                                                        <button
                                                                          class="btn btn-primary btn-sm"
                                                                          (click)="document_selected = null"
                                                                        >
                                                                        {{'Back'|translate}}
                                                                        </button>
                                                                      </div> -->
                                                                </div>
                                                            </ng-container>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- lista de todos los archivos -->
                            <div class="col-xs-12 " *ngIf="isSearching ">
                                <div class="row align-items-center">
                                    <div class="card card-flush">
                                        <div class="card-header pt-7">

                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bolder">{{ 'File List'| translate }}</span>
                                            </h3>
                                            <div class="card-toolbar">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="hover-scroll-overlay-y pe-6 me-n6 columnadoble">
                                                <ng-container *ngFor="let FILE of FILES;let i = index">

                                                    <div class="itemlist">
                                                        <div class="d-flex flex-stack mb-3">
                                                            <div class="me-3">
                                                                <a [routerLink]="['/profile/documents/file', FILE.id]">

                                                                    <img *ngIf="FILE.type ==='pdf'"
                                                                        src="assets/svg/doc.svg"
                                                                        class="w-50px ms-n1 me-1 filesvg" alt="">
                                                                    <img *ngIf="FILE.type ==='jpg' || FILE.type ==='jpeg'"
                                                                        src="assets/svg/jpg.svg"
                                                                        class="w-50px ms-n1 me-1 filesvg" alt="">
                                                                    <img *ngIf="FILE.type ==='png'"
                                                                        src="assets/svg/png.svg"
                                                                        class="w-50px ms-n1 me-1 filesvg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info_itemlist">
                                                            <a [routerLink]="['/profile/documents/file', FILE.id]"
                                                                class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_file
                                                                | slice:0:10}}... .{{FILE.type}}</a>

                                                            <span class="text-gray-400 fw-bolder">Categoria:
                                                                <a href="javascript:void(0);" onclick="return false;"
                                                                    class="text-gray-800 text-hover-primary fw-bolder">{{FILE.name_category}}</a></span>
                                                            <span class="text-gray-400 fw-bolder">Size:
                                                                <a href="javascript:void(0);" onclick="return false;"
                                                                    class="text-gray-800 text-hover-primary fw-bolder">{{FILE.size}}
                                                                </a></span>

                                                        </div>
                                                        <div class="buttons">
                                                            <button class="btn btn-danger btn-sm"
                                                                (click)="deleteFile(FILE.id)">x</button>

                                                        </div>
                                                    </div>




                                                </ng-container>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- grupos por categoria -->



                </div>
                <!-- <div class="col-xs-12 col-sm-3 col-md-3">
                    
    
                </div> -->
            </div>
        </div>

    </div>
</section>
<app-menu-footer></app-menu-footer>