<app-header></app-header>
<section class="user">
    <div class="container-fluid">
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">

                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>

                    <div class="post-inner">
                        <h3>Active o desactive las opciones de la app</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nobis at aperiam molestiae ab, quibusdam quidem laborum debitis, qui accusamus fuga sequi cupiditate! Neque placeat, perspiciatis voluptatem consequatur porro
                            hic!
                        </p>
                        <div class="form">

                            <div class="clear"></div>
                            <form action="">

                                <div class="form-group">
                                    <div class="">
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept Notification</label>
                                            <p>Receive push notifications from de app(promos, info)</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept Geolocalization</label>
                                            <p>let persmissions to use geolocalization from device</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept File Manager</label>
                                            <p>let persmissions to manage Files: create-edit-delete folder & files; in the device</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept Camera Manager</label>
                                            <p>let persmissions to manage Camera: create files in the device</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept SMS</label>
                                            <p>let persmissions to receive SMS from de app(promos, info)</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept Emails</label>
                                            <p>let persmissions to receive Emails from de app(promos, info)</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col-auto mb-2 form-control-md">
                                            <label for="">Accept Automatic Updates</label>
                                            <p>let persmissions to receive automatic updates from the app</p>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="botonera">
                                    <div class="button btn-simple-gray">Cancelar</div>
                                    <div class="button btn-full-red">Actualizar</div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
                <!---side bar responsive table-->
                <div class="div-responsive2"></div>
                <!---side bar responsive table-->

            </div>


        </div>

    </div>
</section>
<app-menu-footer></app-menu-footer>
