<div class="form-group col-xs-12 col-sm-6">
    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Seleccione un Maestro</label>
    <select class="form-control" id="maestro_id" [(ngModel)]="maestro_id" name="maestro_id"
        (change)="getCalendariosBymaestro(maestro_id)">
        <option *ngFor="let data of maestros" [value]="data.id">{{data.name}} {{data.surname}}</option>
    </select>
</div>
<br>

<app-loading *ngIf="isLoading"></app-loading>
<div class="card border-radio" *ngIf="!isLoading && maestro">


    <div class="card-body calendary">
        <div class="tope">
            <h4>Maestro: <br>{{maestro?.name}} {{maestro?.surname}}</h4>
            <p *ngIf="materia">Materia: {{materia?.name}}</p>
            <p *ngIf="maestro?.grado">Grado: {{maestro?.grado}}</p>
        </div>
        <ul *ngFor="let cal of calendariotareas">
            <li>

                <span class="info">
                    <h4>{{cal.title}}</h4>
                    <p>{{cal.fecha_entrega}} </p>
                </span>
                <span class="badge bg-success" *ngIf="cal.status === 'ACTIVE'">Activo</span>
                <span class="badge bg-danger" *ngIf="cal.status === 'INACTIVE'">Inactivo</span>

            </li>
        </ul>

    </div>
</div>