<app-header></app-header>
<section class="wallet">
    <div class="container-fluid">
       <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-9 col-md-9">

                <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
                <!-- <form class="d-flex shadowSearch">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success btn-seach" type="submit"><i class="fa fa-search"></i></button>
                </form> -->

                <div class="group itemFav shadow orden-depedido">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading"></h4>
                        <h2>Order Success!</h2>
                        <p>Revise su correo con el recibo de pago.</p>
                        <p>John Doe.</p>
                        <p>categ.</p>
                        <p>SubTotal</p>
                        <h3>$53.00</h3>
                        <div class="botonera">
                            <a href="lawyer-profile2.html">
                                <div class="button btn-full-red">Chatear</div>
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea sit nulla pariatur tempora consectetur ullam, laborum, aliquam cumque dolore voluptatem corrupti necessitatibus earum, reiciendis totam ipsam fugit iure sequi
                        accusantium.
                    </p>
                </div>


            </div>

            <div class="col-xs-12 col-sm-3 col-md-3">

                <div class="lateral">
                    <div class="group  itemFav shadow">
                        <img src="assets/users/1.jpg" alt="">
                        <div class="div1">
                            <p>John Doe.</p>
                            <p>Johndoe&#64;gmail.com</p>
                            <p>User</p>

                        </div>
                    </div>

                    <div class="banner-c">
                        <img src="https://picsum.photos/seed/car/500/500" alt="">
                    </div>
                    <!--banner publicidad-->
                    <div class="banner-rectangular">
                        <img src="https://picsum.photos/seed/1920/120" alt="">
                    </div>
                    <!--banner publicidad-->
                </div>
            </div> 

        </div>
       </div>
    </div>
</section>
<app-menu-footer></app-menu-footer>
