.tab-content-set{
    & .nav{
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 10px;
        gap: 5px;
        border-radius: 16px;
        width: 50vw;
        align-self: center;
        margin: 0 auto;
        margin-bottom: 20px;

        border: 1px solid #ccc;
        & li:nth-child(1){
            border-right: 1px solid #ccc;
        }

        & li{
            padding: 5px;
            & a{
                color: var(--azulclaro);
            }
        }
        
    }
    
}



